/* General / Global classes */
::-webkit-scrollbar{
  display: none;
}

#body {
  /* padding: 20px; */
  transition: 0.3s;
}

.sidebar {
  z-index: 1001;
  opacity: 1;
  height: 100%; 
  width: 20%; 
  position: fixed; 
  top: 0;
  left: -20%;
  overflow-x: hidden; /* so text will hide when not clicked */
  padding-top: 60px; 
  transition: 1s; /* 0.3 second slower*/
  transition-timing-function: ease;
}

.sidebar-background{
  opacity: 0.8;
  height: 100%; 
  width: 100%; 
  position: absolute; 
  top: 0;
  left: 0;
  background-color: black; 
  overflow-x: hidden; /* so text will hide when not clicked */
  padding-top: 60px; 
}

.sidebar-buttons{
  opacity: 1;
  height: 100%; 
  width: 100%; 
  position: absolute; 
  top: 0;
  left: 0;
  overflow-x: hidden; /* so text will hide when not clicked */
  padding-top: 60px; 
  backdrop-filter: blur(8px);
}

.sidebar-buttons > a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 40px;
  padding: 20px 10px 10px 30px;
  display: block;
  transition: 0.5s;
}

.sidebar-buttons > a:hover {
  translateX: (10px);
  color: #969696;
  cursor: pointer;
}

.sidebar-text {
  position: relative;
}

/* Menu button animation */
.menu-btn {
  
  z-index: 1005;
  position: fixed; /*  I change this to fixed just for testing on history page, origonal: position: absolute; */ 
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 10px;
  left: 10px;
  transition: all .5s ease-in-out;
}
.menu-btn_burger {
  width: 30px;
  height: 2px;
  background: #fff;
  transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
  transform: translateY(-8px);
}
.menu-btn_burger::after {
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
}
.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent; 
}

menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate (35px, -35px);
}
.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate (35px, 35px);
}